<form action="/articles" method="post">
    <label>Enter your article: </label>
    <input id="title" type="text" name="article[title]" required>
    <label>The content: </label>
    <input id="content" type="text" name="article[content]" required>
     <input type="submit" value="Submit!">
</form>