<form action="/articles" method="POST">
<h2>New Article</h2>
Title: <input id="title" type="text" name="title"><br>
Content: <textarea id="content" type="text" name="content">
</textarea>
<input type="submit" value="Submit">
</form>