<!-- <h1>Create a Team and Heroes!</h1> -->

<form action='/articles' method="POST">

  <label for="title">Article title:</label><br/>
  <input id="title" type="text" name="article[title]" /><br/>
  <label for="content">Article content:</label><br/>
  <input id="content" type="text" name="article[content]" /><br/>

  <button type="submit" value="submit">Submit</button>

</form>
