<form action="/articles" method="post">

    Article Title: <input id="title" type="text" name=article[title]><br>
    Article Content: <input id="content" type="text" name=article[content]><br>

<button type="submit" value="submit">Submit</button>
</form>