<h1><%= @article.title %></h1>
<h2><%= @article.content %></h2>


<form action="/articles/<%= @article.id %>" method="post">
    <input id="hidden" name="_method" type="hidden" value="delete"/>
    <input type="submit" value="delete this article"/>
</form>